
<h1> بسم الله الرحمن الرحيم</h1>
<h2> أهلا وسهلا بك في النظام </h2>

<h2>  بيانات المستخدم الحالي  </h2>
<h4> User ID Is :   @Session["ID"]      </h4>
<h4> User Name Is :   @Session["UserName"]      </h4>

