@using PCDCRSystem.Models
@{
    ViewBag.Title = "أدارة تصنيفات الأشخاص";
}

<div class="page-title">
    <i class="icon-custom-left"></i>
    <h3>إدارة - <span class="semi-bold">تصنيفات الأنشطة</span></h3>
</div>



<script>
    kendo.culture("en-GB");
</script>
@(Html.Kendo().Grid<ActivityPeopleCategoryViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.ActivityPeopleCategoryID).Width(50).Hidden();
        columns.Bound(p => p.ActivityPeopleCategoryName).Width(200).HeaderHtmlAttributes(new { @title = "اسم التصنيف" }).Width(100).Title("التصنيف");


        columns.Command(command => { command.Edit().Text("تعديل"); command.Destroy().Text("حذف"); }).Width(100);
    })
    .ToolBar(toolBar =>
    {
        toolBar.Create().Text("اضافة تصنيف جديد ");
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(w => w.Title("تعديل بيانات التصنيف")))
     .Selectable(selectable => selectable
            .Mode(GridSelectionMode.Multiple))
           .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)

        .Events(events => events.Error("errorHandler"))
        .Model(model =>
        {
            model.Id(p => p.ActivityPeopleCategoryID);
            model.Field(p => p.ActivityPeopleCategoryID).Editable(false);
        })
        .Read(read => read.Action("ActivitiesCategory_Read", "ActivityPeopleCategory"))
        .Update(update => update.Action("ActivitiesCategory_Update", "ActivityPeopleCategory"))
        .Create(create => create.Action("ActivitiesCategory_Create", "ActivityPeopleCategory"))
        .Destroy(destroy => destroy.Action("ActivitiesCategory_Destroy", "ActivityPeopleCategory"))
    )
)

<script type="text/javascript">
    function errorHandler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
