@using PCDCRSystem.Models
@{
    ViewBag.Title = "أدارة المؤسسات";
}

<div class="page-title">
    <i class="icon-custom-left"></i>
    <h3>إدارة - <span class="semi-bold">المؤسسات</span></h3>
</div>



<script>
    kendo.culture("en-GB");
</script>
@(Html.Kendo().Grid<CorporationViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.CorporationID).Width(50).Hidden();
        columns.Bound(p => p.CorporationName).Width(200).HeaderHtmlAttributes(new { @title = "اسم المؤسسة" }).Width(100).Title("المؤسسة");
        columns.Bound(p => p.CorporationPhone).Width(200).HeaderHtmlAttributes(new { @title = "اسم المؤسسة" }).Width(100).Title("الهاتف");
        columns.Bound(p => p.CorporationAdderss).Width(200).HeaderHtmlAttributes(new { @title = "اسم المؤسسة" }).Width(100).Title("العنوان");


        columns.Command(command => { command.Edit().Text("تعديل"); command.Destroy().Text("حذف"); }).Width(100);
    })
    .ToolBar(toolBar =>
    {
        toolBar.Create().Text("اضافة مؤسسة جديدة");
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
     .Selectable(selectable => selectable
            .Mode(GridSelectionMode.Multiple))
           .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)

        .Events(events => events.Error("errorHandler"))
        .Model(model =>
        {
            model.Id(p => p.CorporationID);
            model.Field(p => p.CorporationID).Editable(false);
        })
        .Read(read => read.Action("Corporation_Read", "Corporation"))
        .Update(update => update.Action("Corporation_Update", "Corporation"))
        .Create(create => create.Action("Corporation_Create", "Corporation"))
        .Destroy(destroy => destroy.Action("Corporation_Destroy", "Corporation"))
    )
)

<script type="text/javascript">
    function errorHandler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
